In [38]:
import pandas as pd

In [39]:
df=pd.read_csv('EnjoySports.csv',header=None)
df

       0     1       2       3     4       5    6
0  Sunny  Warm  Normal  Strong  Warm    Same  Yes
1  Sunny  Warm    High  Strong  Warm    Same  Yes
2  Rainy  Cool    High  Strong  Warm  Change   No
3  Sunny  Warm    High  Strong  Cool  Change  Yes

In [40]:
h=[]
for i in range(len(df.columns)-1):
    h.append('/0')

In [41]:
df=df.values.tolist()
df

# df=df.values
# df

[['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
 ['Rainy', 'Cool', 'High', 'Strong', 'Warm', 'Change', 'No'],
 ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']]

In [35]:
for instance in df:
    if(instance[-1]=='Yes'):
        for j in range(len(instance)-1):
            if(h[j]=='/0' or h[j]==instance[j]):
                h[j]=instance[j]
            else:
                h[j]='?'

In [36]:
print("Maximally Specific Hypothesis : ",h)

Maximally Specific Hypothesis :  ['Sunny', 'Warm', '?', 'Strong', '?', '?']