In [98]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [99]:
dataset=pd.read_csv('PlayTennis_Naive.csv')
dataset

     Outlook Temperature Humidity    Wind Class
0      Sunny         Hot     High    Weak    No
1      Sunny         Hot     High  Strong    No
2   Overcast         Hot     High    Weak   Yes
3       Rain        Mild     High    Weak   Yes
4       Rain        Cool   Normal    Weak   Yes
5       Rain        Cool   Normal  Strong    No
6   Overcast        Cool   Normal  Strong   Yes
7      Sunny        Mild     High    Weak    No
8      Sunny        Cool   Normal    Weak   Yes
9       Rain        Mild   Normal    Weak   Yes
10     Sunny        Mild   Normal  Strong   Yes
11  Overcast        Mild     High  Strong   Yes
12  Overcast         Hot   Normal    Weak   Yes
13      Rain        Mild     High  Strong    No
14     Sunny        Cool     High  Strong    No

In [100]:
X=dataset.iloc[:,:].values
# y_test=['No']
X

array([['Sunny', 'Hot', 'High', 'Weak', 'No'],
       ['Sunny', 'Hot', 'High', 'Strong', 'No'],
       ['Overcast', 'Hot', 'High', 'Weak', 'Yes'],
       ['Rain', 'Mild', 'High', 'Weak', 'Yes'],
       ['Rain', 'Cool', 'Normal', 'Weak', 'Yes'],
       ['Rain', 'Cool', 'Normal', 'Strong', 'No'],
       ['Overcast', 'Cool', 'Normal', 'Strong', 'Yes'],
       ['Sunny', 'Mild', 'High', 'Weak', 'No'],
       ['Sunny', 'Cool', 'Normal', 'Weak', 'Yes'],
       ['Rain', 'Mild', 'Normal', 'Weak', 'Yes'],
       ['Sunny', 'Mild', 'Normal', 'Strong', 'Yes'],
       ['Overcast', 'Mild', 'High', 'Strong', 'Yes'],
       ['Overcast', 'Hot', 'Normal', 'Weak', 'Yes'],
       ['Rain', 'Mild', 'High', 'Strong', 'No'],
       ['Sunny', 'Cool', 'High', 'Strong', 'No']], dtype=object)

In [101]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
for i in range(len(dataset.columns)-1):
    X[:,i]=le.fit_transform(X[:,i])

    
# y_train=le.fit_transform(y_train)
dataset

   Outlook Temperature Humidity Wind Class
0        2           1        0    1    No
1        2           1        0    0    No
2        0           1        0    1   Yes
3        1           2        0    1   Yes
4        1           0        1    1   Yes
5        1           0        1    0    No
6        0           0        1    0   Yes
7        2           2        0    1    No
8        2           0        1    1   Yes
9        1           2        1    1   Yes
10       2           2        1    0   Yes
11       0           2        0    0   Yes
12       0           1        1    1   Yes
13       1           2        0    0    No
14       2           0        0    0    No

In [102]:
X_train=dataset.iloc[:-1,:-1].values
y_train=dataset.iloc[:-1,-1].values

X_test=dataset.iloc[-1,:-1].values
X_test# ohe=OneHotEncoder(categorical_features=[0,1])
# X=ohe.fit_transform(X).toarray()

# X

array([2, 0, 0, 0], dtype=object)

In [103]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [104]:
#feature scaling is recaaaard 
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
# X_test=sc_X.transform(X_test)

# k-NN

In [105]:
#Non-Linear Classifier

# from sklearn.neighbors import KNeighborsClassifier
# classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)#p=2 for euclidian distance   p=1 for manhattan distance
# classifier.fit(X_train,y_train)

# Decision Tree

In [106]:
# from sklearn.tree import DecisionTreeClassifier
# classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
# classifier.fit(X_train,y_train)

# Naive Bayes

In [107]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

# Logistic Regression

In [108]:
# from sklearn.linear_model import LogisticRegression
# classifier=LogisticRegression()
# classifier.fit(X_train,y_train)

In [109]:
y_pred=classifier.predict([X_test])
# from sklearn.metrics import confusion_matrix
# cm=confusion_matrix(y_test,y_pred)
# cm
y_pred
# tn=cm[0,0]
# tn

array(['No'], dtype='<U3')

In [42]:
# #For TRAINING DATA
# from matplotlib.colors import ListedColormap
# X_set,y_set=X_train,y_train
# X1,X2=np.meshgrid(np.arange(start=X_set[:,0].min() - 1 , stop=X_set[:,0].max() + 1, step=0.01),
#                   np.arange(start=X_set[:,1].min() - 1 , stop=X_set[:,1].max() + 1, step=0.01))

In [111]:
# #layout for classification
# plt.contourf(X1,X2,classifier.predict(np.array([X1.ravel(),X2.ravel()]).T).reshape(X1.shape),
#              alpha=0.75,cmap=ListedColormap(('red','green')))

# plt.xlim(X1.min(),X1.max())
# plt.ylim(X2.min(),X2.max())

# #actual clasification
# for i,j in enumerate(np.unique(y_set)):
#     plt.scatter(X_set[y_set==j,0], X_set[y_set==j,1],
#                 c=ListedColormap(('red','green'))(i), label=j)
    
# plt.title("Decision Tree Classification(Training Set)")
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
# plt.legend()
# plt.show()

In [110]:
# #For TEST DATA
# from matplotlib.colors import ListedColormap
# X_set,y_set=X_test,y_test
# X1,X2=np.meshgrid(np.arange(start=X_set[:,0].min() - 1 , stop=X_set[:,0].max() + 1, step=0.01),
#                   np.arange(start=X_set[:,1].min() - 1 , stop=X_set[:,1].max() + 1, step=0.01))

# #layout for classification
# plt.contourf(X1,X2,classifier.predict(np.array([X1.ravel(),X2.ravel()]).T).reshape(X1.shape),
#              alpha=0.75,cmap=ListedColormap(('red','green')))

# plt.xlim(X1.min(),X1.max())
# plt.ylim(X2.min(),X2.max())

# #actual clasification
# for i,j in enumerate(np.unique(y_set)):
#     plt.scatter(X_set[y_set==j,0], X_set[y_set==j,1],
#                 c=ListedColormap(('red','green'))(i), label=j)
    
# plt.title("Decision Tree Classification(Training Set)")
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
# plt.legend()
# plt.show()