In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv('EnjoySports.csv',names=['Outlook','temp','humidity','wind','water','forecast','class'])
df

  Outlook  temp humidity    wind water forecast class
0   Sunny  Warm   Normal  Strong  Warm     Same   Yes
1   Sunny  Warm     High  Strong  Warm     Same   Yes
2   Rainy  Cool     High  Strong  Warm   Change    No
3   Sunny  Warm     High  Strong  Cool   Change   Yes

In [35]:
n=[]
for i in range(len(df.columns)-1):
    temp=df.iloc[:,i].unique()
    n.append(len(temp)+2)
    
print(n)

Hyp_space=np.prod(n)
Hyp_space

[4, 4, 4, 3, 4, 4]

3072

In [38]:
def num_train_eg(hyp_space,D,E):
    m=(1/E)*(np.log(hyp_space)+np.log(1/D))
    return m

print("Number of training examples required is : ",num_train_eg(Hyp_space,0.05,0.05))

Number of training examples required is :  220.51632735643108